---
import frogged from "../../public/frogged.png";
import Icon from "./icon.astro";
---

<div class="p-20 w-full h-screen flex items-center">
    <div class="flex flex-row w-full items-center justify-around">
        <Icon />
        <a href="https://youtu.be/K8DBs0QLqq4">
            <img src={frogged} alt="ðŸ¸" class="animate-bounce min-h-xl" />
        </a>
        <Icon />
    </div>
</div>
